/* Style for heading */
h1 {
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
  }
  
  /* Style for table */
  table {
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  table, th, td {
    border: none;
    padding: 10px;
  }
  
  /* Style for button */
  input[type="submit"] {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border: none;
  }
  
  /* Style for form input */
  form {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
  }
  
  form input[type="email"], form input[type="password"] {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
  }
  
  /* Style for error messages */
  ul.messages {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  ul.messages li {
    color: red;
  }
